//matteo's code

.site-title {
    padding: 18px 18px;
    background-color: #FFFFFF;
    color: #00131F;
    font-size: 24px;
    font-weight: 700;
}

.container {
    margin: 0 auto; 
    margin-top: 50px;

}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 230px;
    justify-content: space-evenly;
}

input {
    height: 45px; 
    width: 285px;
    border: none;
    border-radius: 3px;
    padding: 0;
    color: rgb(103, 100, 100);
    font-size: 16px;
    padding: 4px;
    
}

button {
    background-color: #F67534;
    color: rgb(233, 227, 227);
    font-family: "Roboto";
    text-transform: uppercase;
    height: 40px;
    width: 290px;
    font-size: 10px;
    padding: 0;
    font-weight: 800;
    border: none;
    border-radius: 3px;
    
}

input::placeholder {
    color: rgb(213, 212, 212);
    font-family: "Roboto";
    padding: 3px;
    font-size: 14px;

}

.fName {
    color: #00131F;
    font-size: 18px;
    font-family: "Helvetica";
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px rgba(0, 19, 31, 0.146) solid;
}

