<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <a href="/" style="text-decoration: none;">
            <h1 class='site-title'> FriendFace </h1>
        </a>
    </header>